$default-font-size: 1.7rem;

$color-primary: #6AAFE6;
$color-primary-light: #8EC0E4;
$color-primary-dark: #1369af;
$color-primary-darker: #01387a;

$color-secondary: #CADBE9;
$color-secondary-light: #D4DFE6;

$color-tertiary: #ffbe76;

$color-text-gray: #777;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-white : #fff;
$color-black: #000;



// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-vertical-smaller: 4rem;
$gutter-horizontal: 6rem;


