.header {
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-light,.5),
    rgba($color-primary,.5)) ,
    url(../img/header-background-3.jpg);
    background-size: cover;
    background-position: top;
    height: 95vh;
    width: 100%;
    padding: 10rem 0;
    position: relative;

    @include respond(tab-port) {
        padding: 0;
    }

    &_text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-80%);
        text-align: center;
        display: block;
        margin-top: 3rem;
    }

    &_svg {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}