@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    85% {
        transform: translateX(2rem);

    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    85% {
        transform: translateX(-2rem);

    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}


@keyframes animateTop {

    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }

}

@keyframes animateRight {

    0% {
        transform: translateY(100);
    }

    100% {
        transform: translateY(0);
    }

}
