.u-text-center {
    text-align: center;
}

.margin-top-small {
    margin-top: 3rem;
}

.margin-bottom-small {
    margin-bottom: 6rem!important;
}

.margin-top-big {
    display: inline-block;
    margin-top: 4rem;
}

.u-text-align-left {
    text-align: left;
}

.padding-small {
    padding: 0 2rem;
}