.section-about {
    background-color: $color-gray-light-2;
    padding: 10rem 0 25rem 0;
    position: relative;

    @media (max-width: 65.62em) {
        padding: 10rem 0 45rem;
    }
    &-wave {
        position: absolute;
        bottom: 0;
    }
}

.section-gallery {
    padding: 15rem 0 10rem 0 ;
    margin-top: -5rem;
    background-color: $color-primary-light;
    background-size: cover;
    background-position: top;
}

.section-reviews {
    padding: 10rem 0;
    background: $color-gray-light-2;

    @media (max-width: 65em) {
       padding: 10rem 0 20rem 0;
  }
}

.section-contact {
    padding: 8rem 0 10rem 0;
    position: relative;
    background: rgba($color-primary,.5);

    // @include respond(tab-port) {
    //     padding: 8rem 0 30rem 0;
    // }
}

.section-amenities {
    padding: 8rem 3rem 10rem 3rem;
    position: relative;
}